# Learn Pandas

## Part-1

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('developer_survey_2019/survey_results_public.csv')

In [3]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [4]:
df.head(10)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
6,7,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,A lot more welcome now than last year,NaN,42.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
7,8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
8,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult

In [5]:
df.tail()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [6]:
df.shape

(88883, 85)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              88883 non-null  int64
 1   MainBranch              88331 non-null  object
 2   Hobbyist                88883 non-null  object
 3   OpenSourcer             88883 non-null  object
 4   OpenSource              86842 non-null  object
 5   Employment              87181 non-null  object
 6   Country                 88751 non-null  object
 7   Student                 87014 non-null  object
 8   EdLevel                 86390 non-null  object
 9   UndergradMajor          75614 non-null  object
 10  EduOther                84260 non-null  object
 11  OrgSize                 71791 non-null  object
 12  DevType                 81335 non-null  object
 13  YearsCode               87938 non-null  object
 14  Age1stCode              87634 non-null  object
 15  YearsCodePro            74331 non-null  object
 16  CareerSat               72847 non-null  object
 17  JobSat                  70988 non-null  object
 18  MgrIdiot                61159 non-null  object
 19  MgrMoney                61157 non-null  object
 20  MgrWant                 61232 non-null  object
 21  JobSeek                 80555 non-null  object
 22  LastHireDate            79854 non-null  object
 23  LastInt                 67155 non-null  object
 24  FizzBuzz                71344 non-null  object
 25  JobFactors              79371 non-null  object
 26  ResumeUpdate            77877 non-null  object
 27  CurrencySymbol          71392 non-null  object
 28  CurrencyDesc            71392 non-null  object
 29  CompTotal               55945 non-null  float64
 30  CompFreq                63268 non-null  object
 31  ConvertedComp           55823 non-null  float64
 32  WorkWeekHrs             64503 non-null  float64
 33  WorkPlan                68914 non-null  object
 34  WorkChallenge           68141 non-null  object
 35  WorkRemote              70284 non-null  object
 36  WorkLoc                 70055 non-null  object
 37  ImpSyn                  71779 non-null  object
 38  CodeRev                 70390 non-null  object
 39  CodeRevHrs              49790 non-null  float64
 40  UnitTests               62668 non-null  object
 41  PurchaseHow             61108 non-null  object
 42  PurchaseWhat            62029 non-null  object
 43  LanguageWorkedWith      87569 non-null  object
 44  LanguageDesireNextYear  84088 non-null  object
 45  DatabaseWorkedWith      76026 non-null  object
 46  DatabaseDesireNextYear  69147 non-null  object
 47  PlatformWorkedWith      80714 non-null  object
 48  PlatformDesireNextYear  77443 non-null  object
 49  WebFrameWorkedWith      65022 non-null  object
 50  WebFrameDesireNextYear  62944 non-null  object
 51  MiscTechWorkedWith      59586 non-null  object
 52  MiscTechDesireNextYear  64511 non-null  object
 53  DevEnviron              87317 non-null  object
 54  OpSys                   87851 non-null  object
 55  Containers              85366 non-null  object
 56  BlockchainOrg           48175 non-null  object
 57  BlockchainIs            60165 non-null  object
 58  BetterLife              86269 non-null  object
 59  ITperson                87141 non-null  object
 60  OffOn                   86663 non-null  object
 61  SocialMedia             84437 non-null  object
 62  Extraversion            87305 non-null  object
 63  ScreenName              80486 non-null  object
 64  SOVisit1st              83877 non-null  object
 65  SOVisitFreq             88263 non-null  object
 66  SOVisitTo               88086 non-null  object
 67  SOFindAnswer            87816 non-null  object
 68  SOTimeSaved             86344 non-null  object
 69  SOHowMuchTime           68378 non-null  object
 70  SOAccount               87828 non-null  object
 71  SOPartFreq              74692 non-null  object
 72  SOJobs                  88066 non-null  object
 73  EntTeams                87841 non-null  object
 74  SOComm                  88131 non-null  object
 75  WelcomeChange           85855 non-null  object
 76  SONewContent            69560 non-null  object
 77  Age                     79210 non-null  float64
 78  Gender                  85406 non-null  object
 79  Trans                   83607 non-null  object
 80  Sexuality               76147 non-null  object
 81  Ethnicity               76668 non-null  object
 82  Dependents              83059 non-null  object
 83  SurveyLength            86984 non-null  object
 84  SurveyEase              87081 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 57.6+ MB

In [8]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

In [9]:
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,...,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,...,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,...,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",...,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,...,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,...,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,...,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...",...,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",...,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

## Part-2: Access Columns, Rows and Cells

### Working on dummy dataset

- **Dataframe can be created from dictionary**

In [10]:
people = {
    "name" : ["Dhiraj", "Anup", "Utkarsh"],
    "last" : ["Suvarna", "Arakkal", "Chachad"],
    "email": ["dhiraj.suvarna@gmail.com", "anup.ar@gmail.com", "utk@gmail.com"]
}

In [11]:
people_df = pd.DataFrame(people)

In [12]:
people_df

      name     last                     email
0   Dhiraj  Suvarna  dhiraj.suvarna@gmail.com
1     Anup  Arakkal         anup.ar@gmail.com
2  Utkarsh  Chachad             utk@gmail.com

In [13]:
people_df["email"] #preffered way of using it

0    dhiraj.suvarna@gmail.com
1           anup.ar@gmail.com
2               utk@gmail.com
Name: email, dtype: object

In [14]:
type(people_df['email'])

pandas.core.series.Series

- **Series is just a list of values, but with much more functionality** </br> 
- **Dataframe is a contianer for multiple Series Object**

In [15]:
people_df.email # dot convention

0    dhiraj.suvarna@gmail.com
1           anup.ar@gmail.com
2               utk@gmail.com
Name: email, dtype: object

- **access the more than one columns**

In [16]:
people_df[["email", "last"]] 
#note that the columns names are given in the list, hence we can see double square brackets. 
#Also order of output is the order of input

                      email     last
0  dhiraj.suvarna@gmail.com  Suvarna
1         anup.ar@gmail.com  Arakkal
2             utk@gmail.com  Chachad

- **List the columns present in the dataframe**

In [17]:
people_df.columns

Index(['name', 'last', 'email'], dtype='object')

- **How to access the ROWS**

In [18]:
# loc
# iloc - interger location

In [19]:
people_df.iloc[0]

name                       Dhiraj
last                      Suvarna
email    dhiraj.suvarna@gmail.com
Name: 0, dtype: object

In [20]:
type(people_df.iloc[0])

pandas.core.series.Series

- **Select multiple Rows**

In [21]:
people_df.iloc[[0, 2]]

      name     last                     email
0   Dhiraj  Suvarna  dhiraj.suvarna@gmail.com
2  Utkarsh  Chachad             utk@gmail.com

- **Caveat, iloc and loc can also be used to filter columns**

In [22]:
people_df.iloc[[0, 2], 0]

0     Dhiraj
2    Utkarsh
Name: name, dtype: object

In [23]:
people_df.iloc[[0, 2], [0, 2]]

      name                     email
0   Dhiraj  dhiraj.suvarna@gmail.com
2  Utkarsh             utk@gmail.com

- **loc - can be used to search by label**

In [24]:
people_df.loc[2, 'email']

'utk@gmail.com'

### Working on the Stackoverflow dataset

In [25]:
df.shape

(88883, 85)

In [26]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [27]:
df.loc[0, 'Hobbyist']

'Yes'

In [28]:
df.loc[[0, 1, 2], 'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

- **Slicing doesn't use square brackets**

In [29]:
df.loc[0:2, 'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [30]:
df.loc[0:2, 'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time

## Part-3: Indexes

- **Using a column as an index to the dataframe**

In [31]:
people_df

      name     last                     email
0   Dhiraj  Suvarna  dhiraj.suvarna@gmail.com
1     Anup  Arakkal         anup.ar@gmail.com
2  Utkarsh  Chachad             utk@gmail.com

In [32]:
people_df.set_index('email')

                             name     last
email
dhiraj.suvarna@gmail.com   Dhiraj  Suvarna
anup.ar@gmail.com            Anup  Arakkal
utk@gmail.com             Utkarsh  Chachad

In [33]:
people_df

      name     last                     email
0   Dhiraj  Suvarna  dhiraj.suvarna@gmail.com
1     Anup  Arakkal         anup.ar@gmail.com
2  Utkarsh  Chachad             utk@gmail.com

In [34]:
people_df.set_index('email', inplace=True)

In [35]:
people_df

                             name     last
email
dhiraj.suvarna@gmail.com   Dhiraj  Suvarna
anup.ar@gmail.com            Anup  Arakkal
utk@gmail.com             Utkarsh  Chachad

In [36]:
people_df.index

Index(['dhiraj.suvarna@gmail.com', 'anup.ar@gmail.com', 'utk@gmail.com'], dtype='object', name='email')

In [37]:
people_df.loc['dhiraj.suvarna@gmail.com']

name     Dhiraj
last    Suvarna
Name: dhiraj.suvarna@gmail.com, dtype: object

- **once index is changed, we can reset it back**

In [38]:
people_df.reset_index(inplace=True)

In [39]:
people_df

                      email     name     last
0  dhiraj.suvarna@gmail.com   Dhiraj  Suvarna
1         anup.ar@gmail.com     Anup  Arakkal
2             utk@gmail.com  Utkarsh  Chachad

- **can set the index while loading the dataframe**

In [40]:
df = pd.read_csv('developer_survey_2019/survey_results_public.csv', index_col='Respondent')

In [41]:
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,...,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",...,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,...,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,...,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",...,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",...,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [42]:
schema_df = pd.read_csv('developer_survey_2019/survey_results_schema.csv', index_col='Column')

In [43]:
schema_df.head()

                                                  QuestionText
Column
Respondent   Randomized respondent ID number (not in order ...
MainBranch   Which of the following options best describes ...
Hobbyist                               Do you code as a hobby?
OpenSourcer        How often do you contribute to open source?
OpenSource   How do you feel about the quality of open sour...

In [44]:
schema_df.loc['Hobbyist']

QuestionText    Do you code as a hobby?
Name: Hobbyist, dtype: object

In [45]:
schema_df.loc['MgrIdiot'] #data is truncated

QuestionText    How confident are you that your manager knows ...
Name: MgrIdiot, dtype: object

In [46]:
schema_df.loc['MgrIdiot', 'QuestionText'] #display the cell to print entire data

'How confident are you that your manager knows what they’re doing?'

In [47]:
schema_df.sort_index() #sort index alphabetically

                                                    QuestionText
Column
Age            What is your age (in years)? If you prefer not...
Age1stCode     At what age did you write your first line of c...
BetterLife     Do you think people born today will have a bet...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BlockchainOrg  How is your organization thinking about or imp...
...                                                          ...
WorkPlan                 How structured or planned is your work?
WorkRemote                       How often do you work remotely?
WorkWeekHrs     On average, how many hours per week do you work?
YearsCode      Including any education, how many years have y...
YearsCodePro   How many years have you coded professionally (...

[85 rows x 1 columns]

In [48]:
schema_df.sort_index(ascending=False) #sort index alphabetically - descending

                                                    QuestionText
Column
YearsCodePro   How many years have you coded professionally (...
YearsCode      Including any education, how many years have y...
WorkWeekHrs     On average, how many hours per week do you work?
WorkRemote                       How often do you work remotely?
WorkPlan                 How structured or planned is your work?
...                                                          ...
BlockchainOrg  How is your organization thinking about or imp...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BetterLife     Do you think people born today will have a bet...
Age1stCode     At what age did you write your first line of c...
Age            What is your age (in years)? If you prefer not...

[85 rows x 1 columns]

**All the above changes are not inplace if needed 'inplace=True' can be used**

## Part-4: Filtering data

In [49]:
people_df

                      email     name     last
0  dhiraj.suvarna@gmail.com   Dhiraj  Suvarna
1         anup.ar@gmail.com     Anup  Arakkal
2             utk@gmail.com  Utkarsh  Chachad

In [50]:
people_df.loc[1, 'last'] = 'Suvarna'

In [51]:
people_df

                      email     name     last
0  dhiraj.suvarna@gmail.com   Dhiraj  Suvarna
1         anup.ar@gmail.com     Anup  Suvarna
2             utk@gmail.com  Utkarsh  Chachad

In [52]:
people_df["last"] == "Suvarna" #returns a series object of bool - can be used as kind of a mask or filter

0     True
1     True
2    False
Name: last, dtype: bool

In [53]:
filt = people_df['last'] == 'Suvarna'

In [54]:
people_df[filt] #applying filter

                      email    name     last
0  dhiraj.suvarna@gmail.com  Dhiraj  Suvarna
1         anup.ar@gmail.com    Anup  Suvarna

In [55]:
#the above filter can also be applied directly
people_df[people_df['last'] == 'Suvarna']

                      email    name     last
0  dhiraj.suvarna@gmail.com  Dhiraj  Suvarna
1         anup.ar@gmail.com    Anup  Suvarna

In [56]:
#the above filter can also be applied using .loc method
people_df.loc[filt]

                      email    name     last
0  dhiraj.suvarna@gmail.com  Dhiraj  Suvarna
1         anup.ar@gmail.com    Anup  Suvarna

In [57]:
#one advantage of using .loc is that, we can get the specific column too, for eg.
people_df.loc[filt, 'email']

0    dhiraj.suvarna@gmail.com
1           anup.ar@gmail.com
Name: email, dtype: object

- **Logical Operator in filter: & (and), | (or), ~ (not)**

In [58]:
# and
filt = (people_df['last'] == 'Suvarna') & (people_df['name'] == 'Anup')
people_df[filt]

               email  name     last
1  anup.ar@gmail.com  Anup  Suvarna

In [59]:
people_df.loc[filt, 'email']

1    anup.ar@gmail.com
Name: email, dtype: object

In [60]:
# or
filt = (people_df['last'] == 'Suvarna') | (people_df['name'] == 'Utkarsh')
people_df.loc[filt]

                      email     name     last
0  dhiraj.suvarna@gmail.com   Dhiraj  Suvarna
1         anup.ar@gmail.com     Anup  Suvarna
2             utk@gmail.com  Utkarsh  Chachad

In [61]:
# not 
filt = people_df['last'] == 'Suvarna'
people_df.loc[~filt]

           email     name     last
2  utk@gmail.com  Utkarsh  Chachad

- **look for people making a salary greater than x**

In [62]:
df.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,...,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [63]:
schema_df.head()

                                                  QuestionText
Column
Respondent   Randomized respondent ID number (not in order ...
MainBranch   Which of the following options best describes ...
Hobbyist                               Do you code as a hobby?
OpenSourcer        How often do you contribute to open source?
OpenSource   How do you feel about the quality of open sour...

In [64]:
highsalfilt = df['ConvertedComp'] > 70000
df.loc[highsalfilt]

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,...,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,
6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,...,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...
88876,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88877,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,Straight / Heterosexual,South Asian,Yes,Too long,Neither easy nor difficult
88878,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy
88879,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88882,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,...,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy

In [65]:
df.loc[highsalfilt, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88879,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88882,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

- **see people from specific countries**

In [66]:
countries = ['United States', 'India', 'United Kingdom', 'Germany', 'Canada']
countryfilt = df['Country'].isin(countries)
df.loc[countryfilt]

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,...,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",...,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,NaN,NaN,Yes,Too long,Difficult
...,...,...,...,...,...,...,...,...,...,...,...
85642,NaN,No,Less than once per year,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",...,Bisexual;Gay or Lesbian,White or of European descent,No,Appropriate in length,Easy
85961,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,NaN,...,Gay or Lesbian,White or of European descent,No,Appropriate in length,Difficult
86012,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,NaN,South Asian,NaN,Appropriate in length,Easy
88282,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, but looking for work",...,Straight / Heterosexual,NaN,No,Too short,Neither easy nor difficult
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",...,NaN,NaN,No,Appropriate in length,Easy

- **find ppl who worked with python**

In [67]:
df['LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
3                                                 HTML/CSS
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
                               ...
88377                        HTML/CSS;JavaScript;Other(s):
88601                                                  NaN
88802                                                  NaN
88816                                                  NaN
88863    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 88883, dtype: object

In [68]:
pythonfilt = df['LanguageWorkedWith'].str.contains('Python', na=False)

In [69]:
df.loc[pythonfilt, 'LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
84539    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
85738      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
86566      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87739             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88212                           HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object





## Part-5: Updating Rows and Columns

In [70]:
people_df

                      email     name     last
0  dhiraj.suvarna@gmail.com   Dhiraj  Suvarna
1         anup.ar@gmail.com     Anup  Suvarna
2             utk@gmail.com  Utkarsh  Chachad

- **Modify existing column names (all columns at once)**

In [71]:
people_df.columns

Index(['email', 'name', 'last'], dtype='object')

In [72]:
people_df.columns = ['email', 'first name', 'last name']
people_df

                      email first name last name
0  dhiraj.suvarna@gmail.com     Dhiraj   Suvarna
1         anup.ar@gmail.com       Anup   Suvarna
2             utk@gmail.com    Utkarsh   Chachad

In [73]:
people_df.columns = people_df.columns.str.replace(' ', '_')
people_df

                      email first_name last_name
0  dhiraj.suvarna@gmail.com     Dhiraj   Suvarna
1         anup.ar@gmail.com       Anup   Suvarna
2             utk@gmail.com    Utkarsh   Chachad

In [74]:
people_df.columns = [x.lower() for x in people_df.columns]
people_df

                      email first_name last_name
0  dhiraj.suvarna@gmail.com     Dhiraj   Suvarna
1         anup.ar@gmail.com       Anup   Suvarna
2             utk@gmail.com    Utkarsh   Chachad

- **Modify existing column names (specific columns)**

In [75]:
people_df.rename(columns={'first_name':'first', 'last_name':'last'})
people_df

                      email first_name last_name
0  dhiraj.suvarna@gmail.com     Dhiraj   Suvarna
1         anup.ar@gmail.com       Anup   Suvarna
2             utk@gmail.com    Utkarsh   Chachad

In [76]:
people_df.rename(columns={'first_name':'first', 'last_name':'last'}, inplace=True)
people_df

                      email    first     last
0  dhiraj.suvarna@gmail.com   Dhiraj  Suvarna
1         anup.ar@gmail.com     Anup  Suvarna
2             utk@gmail.com  Utkarsh  Chachad

- **Updating the data in ROW**

In [77]:
people_df.loc[2] = ['abc@abc.com', 'utk', 'Chachad']
people_df

                      email   first     last
0  dhiraj.suvarna@gmail.com  Dhiraj  Suvarna
1         anup.ar@gmail.com    Anup  Suvarna
2               abc@abc.com     utk  Chachad

In [78]:
people_df.loc[2, ['email', 'first']] = ['utk@gmail.com', 'Utkarsh']
people_df

                      email    first     last
0  dhiraj.suvarna@gmail.com   Dhiraj  Suvarna
1         anup.ar@gmail.com     Anup  Suvarna
2             utk@gmail.com  Utkarsh  Chachad

In [79]:
#access single cell
people_df.loc[2, 'email']

'utk@gmail.com'

In [80]:
#access single cell using 'at'
people_df.at[2, 'email']

'utk@gmail.com'

- **a error which is common**

In [81]:
#trying to access the cell using filter 
filt = people_df['email'] == 'utk@gmail.com'
people_df[filt]

           email    first     last
2  utk@gmail.com  Utkarsh  Chachad

In [82]:
people_df[filt]['last']

2    Chachad
Name: last, dtype: object

In [83]:
people_df[filt]['last'] = 'adhav'

<ipython-input-83-5b01bbfb0806>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people_df[filt]['last'] = 'adhav'

In [84]:
#correct way to do using filter 
people_df.loc[filt, 'last']

2    Chachad
Name: last, dtype: object

In [85]:
people_df.loc[filt, 'last'] = 'adhav'

In [86]:
people_df

                      email    first     last
0  dhiraj.suvarna@gmail.com   Dhiraj  Suvarna
1         anup.ar@gmail.com     Anup  Suvarna
2             utk@gmail.com  Utkarsh    adhav

- **update multile rows of data**

In [87]:
people_df['email'].str.lower()

0    dhiraj.suvarna@gmail.com
1           anup.ar@gmail.com
2               utk@gmail.com
Name: email, dtype: object

In [88]:
people_df['email'] = people_df['email'].str.lower()
people_df

                      email    first     last
0  dhiraj.suvarna@gmail.com   Dhiraj  Suvarna
1         anup.ar@gmail.com     Anup  Suvarna
2             utk@gmail.com  Utkarsh    adhav

- **there are 4 confusing methods to do this**
> - `apply`
> - `map`
> - `applymap`
> - `replace`

In [89]:
# apply - used to call a function on our values. 
#       - can work on dataframe or on series (behaviour is different)

# when applied to series, it applies the function on every value in the series, for eg
people_df['email'].apply(len)

0    24
1    17
2    13
Name: email, dtype: int64

In [90]:
#lets modify the data using apply function
def update_email(email):
    return email.upper()

In [91]:
people_df['email'].apply(update_email)

0    DHIRAJ.SUVARNA@GMAIL.COM
1           ANUP.AR@GMAIL.COM
2               UTK@GMAIL.COM
Name: email, dtype: object

In [92]:
people_df #doesn't change value

                      email    first     last
0  dhiraj.suvarna@gmail.com   Dhiraj  Suvarna
1         anup.ar@gmail.com     Anup  Suvarna
2             utk@gmail.com  Utkarsh    adhav

In [93]:
people_df['email'] = people_df['email'].apply(update_email)

In [94]:
people_df

                      email    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM     Anup  Suvarna
2             UTK@GMAIL.COM  Utkarsh    adhav

In [95]:
#using lambda function instead of a named function
people_df['email'].apply(lambda x: x.lower())

0    dhiraj.suvarna@gmail.com
1           anup.ar@gmail.com
2               utk@gmail.com
Name: email, dtype: object

In [1]:
# using apply on dataframes, function is applied to series i.e function receives series object as input
people_df.apply(len) # this is counting the number of rows for each column

NameError: name 'people_df' is not defined

In [97]:
people_df.apply(len, axis='columns') # this is counting number of columns for each row

0    3
1    3
2    3
dtype: int64

In [98]:
#so when using apply on dataframe, use methods (inside the apply function) which works on series object, for eg.
people_df.apply(pd.Series.min)

email    ANUP.AR@GMAIL.COM
first                 Anup
last               Suvarna
dtype: object

In [99]:
people_df.apply(lambda x: x.min()) # here x is a series object

email    ANUP.AR@GMAIL.COM
first                 Anup
last               Suvarna
dtype: object

> **so here </br>
> when apply is used on series, it will work on each value in the series </br>
> when apply is used on datafram, it will work on series object </br>
> so I am wondering, </br>
> is there a way to apply a function for each value in the dataframe -> thats where 'applymap' is used for </br>
> `applymap` only works on dataframes, it doesn't work on series**

In [100]:
people_df.applymap(len)

   email  first  last
0     24      6     7
1     17      4     7
2     13      7     5

In [101]:
people_df.applymap(str.lower)

                      email    first     last
0  dhiraj.suvarna@gmail.com   dhiraj  suvarna
1         anup.ar@gmail.com     anup  suvarna
2             utk@gmail.com  utkarsh    adhav

> - **`map` method only works on series**
> - **used to subsitute each value in series with another value**

In [102]:
people_df['first'].map({'Dhiraj': 'shilpa'})

0    shilpa
1       NaN
2       NaN
Name: first, dtype: object

> **when using `map`, the values that do not match the replaced value are filled with `NaN`**

> **to avoid replacing the unmatched values with `NaN` and retain the original values use `replace`**

In [103]:
people_df['first'].replace({'Dhiraj': 'shilpa'})

0     shilpa
1       Anup
2    Utkarsh
Name: first, dtype: object

### Work on the stackoverflow data

- rename the column "ConvertedComp" to "SalaryUSD"

In [104]:
df.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [105]:
df.rename(columns={'ConvertedComp' : 'SalaryUSD'}, inplace=True)
df.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq', 'SalaryUSD',
       'WorkWeekHrs', 'WorkPlan', 'WorkChallenge', 'WorkRemote', 'WorkLoc',
       'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests', 'PurchaseHow',
       'PurchaseWhat', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

- **in the 'hobbyist' column map all Yes to True and No to False**

In [106]:
def convertyesnotobool(value):
    return value == 'Yes'

df['Hobbyist'].apply(convertyesnotobool)
#df['Hobbyist']

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
88377     True
88601    False
88802    False
88816    False
88863     True
Name: Hobbyist, Length: 88883, dtype: bool

In [107]:
df['Hobbyist'].map({'Yes': True, 'No': False})

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
88377     True
88601    False
88802    False
88816    False
88863     True
Name: Hobbyist, Length: 88883, dtype: bool

## Part-6: Add remove ROWS and COLUMNS from dataframes

- **add columns**

In [108]:
people_df

                      email    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM     Anup  Suvarna
2             UTK@GMAIL.COM  Utkarsh    adhav

In [109]:
people_df = people_df[['first', 'last', 'email']].copy()

In [110]:
people_df

     first     last                     email
0   Dhiraj  Suvarna  DHIRAJ.SUVARNA@GMAIL.COM
1     Anup  Suvarna         ANUP.AR@GMAIL.COM
2  Utkarsh    adhav             UTK@GMAIL.COM

In [111]:
#to add a new column we should create a series and just assign to new column in dataframe
people_df['first'] + " " + people_df['last']

0    Dhiraj Suvarna
1      Anup Suvarna
2     Utkarsh adhav
dtype: object

In [112]:
people_df['full_name'] = people_df['first'] + " " + people_df['last']

In [113]:
people_df

     first     last                     email       full_name
0   Dhiraj  Suvarna  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna
1     Anup  Suvarna         ANUP.AR@GMAIL.COM    Anup Suvarna
2  Utkarsh    adhav             UTK@GMAIL.COM   Utkarsh adhav

In [114]:
#deleting the columns
people_df.drop(columns=['first', 'last'])

                      email       full_name
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav

In [115]:
people_df

     first     last                     email       full_name
0   Dhiraj  Suvarna  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna
1     Anup  Suvarna         ANUP.AR@GMAIL.COM    Anup Suvarna
2  Utkarsh    adhav             UTK@GMAIL.COM   Utkarsh adhav

In [116]:
people_df.drop(columns=['first', 'last'], inplace=True)

In [117]:
people_df

                      email       full_name
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav

In [118]:
people_df['full_name'].str.split(' ')

0    [Dhiraj, Suvarna]
1      [Anup, Suvarna]
2     [Utkarsh, adhav]
Name: full_name, dtype: object

In [119]:
people_df['full_name'].str.split(' ', expand=True)

         0        1
0   Dhiraj  Suvarna
1     Anup  Suvarna
2  Utkarsh    adhav

In [120]:
people_df[['first', 'last']] = people_df['full_name'].str.split(' ', expand=True)

In [121]:
people_df

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    adhav

#### <font color='red'>A huge alert for SettingWithCopyWarning</font> </br>
It araises because of **copy** and **view** issue, to know more read here - https://www.practicaldatascience.org/html/views_and_copies_in_pandas.html

- **Adding Rows: adding a single row of data**

In [122]:
# can be done using append() method
people_df.append({'first' : 'Pravin'})

TypeError: Can only append a dict if ignore_index=True

In [123]:
people_df.append({'first':'Pravin'}, ignore_index=True)

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    adhav
3                       NaN             NaN   Pravin      NaN

In [124]:
people_df

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    adhav

In [125]:
people_df.append({'first':'Pravin'}, ignore_index=True)

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    adhav
3                       NaN             NaN   Pravin      NaN

In [126]:
people_df = people_df.append({'first':'Pravin'}, ignore_index=True)

In [127]:
people_df

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    adhav
3                       NaN             NaN   Pravin      NaN

- **Adding Rows: adding two dataframes**

In [128]:
# create a new dataframe
people = {
    'first' : ['Tony', 'Steve'],
    'last': ['Starks', 'Rogers'],
    'email': ['ironman@avenge', 'cap@avenge']
}

people_df2 = pd.DataFrame(people)

In [129]:
people_df2

   first    last           email
0   Tony  Starks  ironman@avenge
1  Steve  Rogers      cap@avenge

In [130]:
people_df.append(people_df2, ignore_index=False) # note if ignore_index is set to False, the indexes are retained

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    adhav
3                       NaN             NaN   Pravin      NaN
0            ironman@avenge             NaN     Tony   Starks
1                cap@avenge             NaN    Steve   Rogers

In [131]:
# append the new dataframe to the existing one
# note that the two dataframe has some matching columns (not all columns match)
people_df.append(people_df2, ignore_index=True)

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    adhav
3                       NaN             NaN   Pravin      NaN
4            ironman@avenge             NaN     Tony   Starks
5                cap@avenge             NaN    Steve   Rogers

In [132]:
people_df

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    adhav
3                       NaN             NaN   Pravin      NaN

In [133]:
people_df = people_df.append(people_df2, ignore_index=True) # run this cell two times
people_df

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    adhav
3                       NaN             NaN   Pravin      NaN
4            ironman@avenge             NaN     Tony   Starks
5                cap@avenge             NaN    Steve   Rogers

- **Removing Rows from the dataframe**

In [134]:
people_df.drop(index=5)

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    adhav
3                       NaN             NaN   Pravin      NaN
4            ironman@avenge             NaN     Tony   Starks

In [135]:
people_df

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    adhav
3                       NaN             NaN   Pravin      NaN
4            ironman@avenge             NaN     Tony   Starks
5                cap@avenge             NaN    Steve   Rogers

In [136]:
people_df.drop(index=people_df.index[3:])

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    adhav

In [137]:
people_df = people_df.drop(index=people_df.index[3:])

In [138]:
# drop rows based on filter 
filt = people_df['last'] == 'Suvarna'
people_df[filt]

                      email       full_name   first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna  Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna    Anup  Suvarna

In [139]:
people_df.drop(index=people_df[filt].index)

           email      full_name    first   last
2  UTK@GMAIL.COM  Utkarsh adhav  Utkarsh  adhav

## Part-7: Sorting of Data

In [140]:
people_df

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    adhav

In [141]:
people_df.loc[2, 'last'] = 'Adhav'
people_df

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    Adhav

In [142]:
people_df.sort_values(by='last') #sort in ascending order

                      email       full_name    first     last
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    Adhav
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna

In [143]:
people_df.sort_values(by='last', ascending=False) #sort in descending order

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    Adhav

In [144]:
#sort on multiple columns
people_df.sort_values(by=['last', 'first'])
#here first 'last' column will be sorted asc and then where the values are same the second column will be sorted asc

                      email       full_name    first     last
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    Adhav
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna

In [145]:
people_df.sort_values(by=['last', 'first'], ascending=[False, True]) #one column asc and other in desc

                      email       full_name    first     last
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    Adhav

In [146]:
# note: in above dataframes indexs are not sorted, they move as the rows are moved
# to again reinstantiate the order of the table, we can sort on index
people_df.sort_index()

                      email       full_name    first     last
0  DHIRAJ.SUVARNA@GMAIL.COM  Dhiraj Suvarna   Dhiraj  Suvarna
1         ANUP.AR@GMAIL.COM    Anup Suvarna     Anup  Suvarna
2             UTK@GMAIL.COM   Utkarsh adhav  Utkarsh    Adhav

- **sort can also be used on series**

In [147]:
people_df['last'].sort_values()

2      Adhav
0    Suvarna
1    Suvarna
Name: last, dtype: object

### using stackoverflow data

In [148]:
df.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,...,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [149]:
df.sort_values(by='Country', inplace=True)
df[['Country', 'SalaryUSD']]

                Country  SalaryUSD
Respondent
39258       Afghanistan    19152.0
63129       Afghanistan  1000000.0
85715       Afghanistan        NaN
50767       Afghanistan        NaN
2782        Afghanistan        NaN
...                 ...        ...
88062               NaN        NaN
88076               NaN        NaN
88601               NaN        NaN
88802               NaN        NaN
88816               NaN        NaN

[88883 rows x 2 columns]

In [150]:
df.sort_values(by=['Country', 'SalaryUSD'], ascending=[True, False], inplace=True)
df[['Country', 'SalaryUSD']]

                Country  SalaryUSD
Respondent
63129       Afghanistan  1000000.0
50499       Afghanistan   153216.0
39258       Afghanistan    19152.0
58450       Afghanistan    17556.0
7085        Afghanistan    14364.0
...                 ...        ...
88062               NaN        NaN
88076               NaN        NaN
88601               NaN        NaN
88802               NaN        NaN
88816               NaN        NaN

[88883 rows x 2 columns]

- **sorting is usually done to find the max and the min values***
- **if that is the case we can use `nlargest`**

In [151]:
df['SalaryUSD'].nlargest(10)

Respondent
25983    2000000.0
87896    2000000.0
22013    2000000.0
28243    2000000.0
72732    2000000.0
78151    2000000.0
80200    2000000.0
52132    2000000.0
75561    2000000.0
32250    2000000.0
Name: SalaryUSD, dtype: float64

In [152]:
df.nlargest(10, 'SalaryUSD')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,...,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,
25983,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
87896,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,...,Gay or Lesbian,White or of European descent,No,Appropriate in length,Neither easy nor difficult
22013,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,NaN,Yes,Too long,Easy
28243,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",...,Straight / Heterosexual,NaN,Yes,Too short,Easy
72732,"I am not primarily a developer, but I write co...",No,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",NaN,...,NaN,NaN,Yes,Too long,Easy
78151,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
80200,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,...,Bisexual,White or of European descent,No,Appropriate in length,Easy
52132,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,NaN,Black or of African descent;East Asian;Hispani...,Yes,Appropriate in length,Easy
75561,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
32250,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [153]:
df[['SalaryUSD', 'Country']].nlargest(10, 'SalaryUSD')

            SalaryUSD      Country
Respondent
25983       2000000.0       Canada
87896       2000000.0      Germany
22013       2000000.0        India
28243       2000000.0        India
72732       2000000.0        India
78151       2000000.0       Mexico
80200       2000000.0  Netherlands
52132       2000000.0         Peru
75561       2000000.0    Singapore
32250       2000000.0  Switzerland

In [154]:
df[['SalaryUSD', 'Country']].nsmallest(10, 'SalaryUSD')

            SalaryUSD                 Country
Respondent
28638             0.0             Afghanistan
722               0.0             Afghanistan
13825             0.0                 Algeria
40913             0.0                 Armenia
30630             0.0               Australia
69049             0.0               Australia
19340             0.0                 Austria
16214             0.0              Bangladesh
29355             0.0  Bosnia and Herzegovina
1685              0.0                  Brazil

## Part-8: Grouping and Aggregating Data

In [156]:
df.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,...,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,
63129,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,NaN,NaN,Yes,Too short,Easy
50499,"I am not primarily a developer, but I write co...",Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,...,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
39258,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,...,Straight / Heterosexual,East Asian;South Asian,Yes,Too long,Easy
58450,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,Straight / Heterosexual,South Asian,No,Too long,Neither easy nor difficult
7085,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",...,Straight / Heterosexual,East Asian,Yes,Appropriate in length,Neither easy nor difficult

- **what are the average salaries of the developers**

In [157]:
df['SalaryUSD']

Respondent
63129    1000000.0
50499     153216.0
39258      19152.0
58450      17556.0
7085       14364.0
           ...
88062          NaN
88076          NaN
88601          NaN
88802          NaN
88816          NaN
Name: SalaryUSD, Length: 88883, dtype: float64

In [158]:
df['SalaryUSD'].median()

57287.0

In [159]:
df.median()

<ipython-input-159-6d467abf240d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

CompTotal      62000.0
SalaryUSD      57287.0
WorkWeekHrs       40.0
CodeRevHrs         4.0
Age               29.0
dtype: float64

- **mean vs median - https://www.youtube.com/watch?v=GrynkZB3E7M&t=1s**

In [160]:
#statistial overview of datafram
df.describe()

# in the below output
# count - counts the number of non NAN values in the column
# 50% - is the median value of the column

          CompTotal     SalaryUSD   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04  5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11  1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13  2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00  0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04  2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04  5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05  1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16  2.000000e+06   4850.000000     99.000000     99.000000

- **get count of distinct values in the columns**

In [161]:
df['Hobbyist']

Respondent
63129    Yes
50499    Yes
39258    Yes
58450    Yes
7085     Yes
        ...
88062     No
88076     No
88601     No
88802     No
88816     No
Name: Hobbyist, Length: 88883, dtype: object

In [162]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

- **what are the popular social media sites used by developers?**

In [164]:
df['SocialMedia']

Respondent
63129    I don't use social media
50499                    WhatsApp
39258                    Facebook
58450                    Facebook
7085                    Instagram
                   ...
88062                         NaN
88076                         NaN
88601                         NaN
88802                         NaN
88816                         NaN
Name: SocialMedia, Length: 88883, dtype: object

In [165]:
df['SocialMedia'].value_counts()

Reddit            14374
YouTube           13830
WhatsApp          13347
Facebook          13178
Twitter           11398
                  ...
Snapchat            628
VK ВКонта́кте       603
Weibo 新浪微博           56
Youku Tudou 优酷       21
Hello                19
Name: SocialMedia, Length: 14, dtype: int64

In [166]:
df['SocialMedia'].value_counts(normalize=True) # see the value counts in terms of percentage

Reddit            0.170233
YouTube           0.163791
WhatsApp          0.158071
Facebook          0.156069
Twitter           0.134988
                    ...
Snapchat          0.007437
VK ВКонта́кте     0.007141
Weibo 新浪微博        0.000663
Youku Tudou 优酷    0.000249
Hello             0.000225
Name: SocialMedia, Length: 14, dtype: float64

- **how do we find the most popular social media sites for each country?**

### Learn to group the data

In [167]:
df.groupby(['Country']) # think of this as -> spliting the dataframe into multiple dataframes

In [168]:
df.groupby(['Country']).get_group('India')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,...,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,
22013,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,NaN,Yes,Too long,Easy
28243,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",...,Straight / Heterosexual,NaN,Yes,Too short,Easy
72732,"I am not primarily a developer, but I write co...",No,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",NaN,...,NaN,NaN,Yes,Too long,Easy
80923,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,...,NaN,NaN,NaN,Too long,Difficult
78265,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,NaN,NaN,Yes,Too short,Easy
...,...,...,...,...,...,...,...,...,...,...,...
79312,I am a student who is learning to code,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
79628,I am a developer by profession,No,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,...,NaN,South Asian,NaN,Too long,Easy
40151,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",NaN,...,Straight / Heterosexual,South Asian,Yes,Too long,Neither easy nor difficult
76400,"I am not primarily a developer, but I write co...",No,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,...,NaN,NaN,Yes,Too long,Easy
30452,I am a student who is learning to code,No,Never,"OSS is, on average, of HIGHER quality than pro...",NaN,...,NaN,NaN,Yes,Too long,Neither easy nor difficult

In [169]:
type(df.groupby(['Country']).get_group('India'))

pandas.core.frame.DataFrame

In [170]:
df.groupby(['Country'])['SocialMedia']

In [171]:
df.groupby(['Country'])['SocialMedia'].value_counts()

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
                                         ..
Zimbabwe     Facebook                     3
             YouTube                      3
             Instagram                    2
             LinkedIn                     2
             Reddit                       1
Name: SocialMedia, Length: 1220, dtype: int64

In [173]:
df.groupby(['Country'])['SocialMedia'].value_counts().head(20)

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
                                         ..
Albania      Snapchat                     1
             WeChat 微信                    1
Algeria      YouTube                     42
             Facebook                    41
             Twitter                     14
Name: SocialMedia, Length: 20, dtype: int64

In [174]:
type(df.groupby(['Country'])['SocialMedia'].value_counts()) # this is a series object with multiple index

pandas.core.series.Series

In [177]:
# get info about one country
df.groupby(['Country'])['SocialMedia'].value_counts().loc['United States']

SocialMedia
Reddit                      5700
Twitter                     3468
Facebook                    2844
YouTube                     2463
I don't use social media    1851
                            ...
WeChat 微信                     93
VK ВКонта́кте                  9
Weibo 新浪微博                     8
Hello                          2
Youku Tudou 优酷                 1
Name: SocialMedia, Length: 14, dtype: int64

In [180]:
# get distribution by percentage
df.groupby(['Country'])['SocialMedia'].value_counts(normalize=True).loc['United States']

SocialMedia
Reddit                      0.284346
Twitter                     0.173002
Facebook                    0.141874
YouTube                     0.122867
I don't use social media    0.092338
                              ...
WeChat 微信                   0.004639
VK ВКонта́кте               0.000449
Weibo 新浪微博                  0.000399
Hello                       0.000100
Youku Tudou 优酷              0.000050
Name: SocialMedia, Length: 14, dtype: float64

- **what are the mean and median salaries countrywise?**

In [185]:
df.groupby(['Country'])['SalaryUSD'].mean()

Country
Afghanistan                             101953.333333
Albania                                  21833.700000
Algeria                                  34924.047619
Andorra                                 160931.000000
Angola                                    7764.000000
                                            ...
Venezuela, Bolivarian Republic of...     14581.627907
Viet Nam                                 17233.436782
Yemen                                    16909.166667
Zambia                                   10075.375000
Zimbabwe                                 34046.666667
Name: SalaryUSD, Length: 179, dtype: float64

In [187]:
df.groupby(['Country'])['SalaryUSD'].median()

Country
Afghanistan                               6222.0
Albania                                  10818.0
Algeria                                   7878.0
Andorra                                 160931.0
Angola                                    7764.0
                                          ...
Venezuela, Bolivarian Republic of...      6384.0
Viet Nam                                 11892.0
Yemen                                    11940.0
Zambia                                    5040.0
Zimbabwe                                 19200.0
Name: SalaryUSD, Length: 179, dtype: float64

In [188]:
df.groupby(['Country'])['SalaryUSD'].mean().loc['India']

28057.664916229056

In [189]:
df.groupby(['Country'])['SalaryUSD'].median().loc['India']

10080.0

- **agg() -function  -> used to pass the aggregate functin to the groupby**

In [190]:
df.groupby(['Country'])['SalaryUSD'].agg(['mean', 'median'])

                                               mean    median
Country
Afghanistan                           101953.333333    6222.0
Albania                                21833.700000   10818.0
Algeria                                34924.047619    7878.0
Andorra                               160931.000000  160931.0
Angola                                  7764.000000    7764.0
...                                             ...       ...
Venezuela, Bolivarian Republic of...   14581.627907    6384.0
Viet Nam                               17233.436782   11892.0
Yemen                                  16909.166667   11940.0
Zambia                                 10075.375000    5040.0
Zimbabwe                               34046.666667   19200.0

[179 rows x 2 columns]

In [191]:
df.groupby(['Country'])['SalaryUSD'].agg(['mean', 'median']).loc['India']

mean      28057.664916
median    10080.000000
Name: India, dtype: float64

In [194]:
df.groupby(['Country'])['SocialMedia'].agg(['value_counts'])

                                      value_counts
Country     SocialMedia
Afghanistan Facebook                            15
            YouTube                              9
            I don't use social media             6
            WhatsApp                             4
            Instagram                            1
...                                            ...
Zimbabwe    Facebook                             3
            YouTube                              3
            Instagram                            2
            LinkedIn                             2
            Reddit                               1

[1220 rows x 1 columns]

- **how many ppl from each country know python?**

In [199]:
filt = df['Country'] == 'India'
df.loc[filt, 'LanguageWorkedWith'].str.contains('Python')

Respondent
22013     True
28243     True
72732     True
80923    False
78265     True
         ...
79312     True
79628    False
40151    False
76400    False
30452    False
Name: LanguageWorkedWith, Length: 9061, dtype: object

In [200]:
df.loc[filt, 'LanguageWorkedWith'].str.contains('Python').sum()

3105

In [201]:
df.groupby(['Country'])['LanguageWorkedWith'].str.contains('Python').sum()

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [203]:
# use apply method to apply function to each Series in the SeriesGroupBy object
df.groupby(['Country'])['LanguageWorkedWith'].apply(lambda x : x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

- **What percentage of people from each country know Python?**

In [206]:
df.index[-1]

88816

In [207]:
df.tail(3)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,...,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,...,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,...,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",...,NaN,NaN,NaN,NaN,NaN

## Part-9: Cleaning Data

In [209]:
import numpy as np

In [224]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'],
    'last' : ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'],
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'anonymous@gmail.com', 'NA'],
    'age' : [33, 55, 63, 36, None, None, 'Missing']
}

In [225]:
people_df = pd.DataFrame(people)
people_df

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      anonymous@gmail.com     None
6     NA  Missing                       NA  Missing

In [226]:
people_df.dropna()

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
6     NA  Missing                       NA  Missing

In [227]:
people_df.dropna(how='all')

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
5   None      NaN      anonymous@gmail.com     None
6     NA  Missing                       NA  Missing

In [228]:
people_df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

In [229]:
people_df.dropna(axis=0, subset=['email'])

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
5   None      NaN      anonymous@gmail.com     None
6     NA  Missing                       NA  Missing

In [230]:
people_df

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      anonymous@gmail.com     None
6     NA  Missing                       NA  Missing

In [232]:
people_df.dropna(axis=0, subset=['last', 'email'])

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
6     NA  Missing                       NA  Missing

In [233]:
people_df.dropna(axis=0, how='all', subset=['last', 'email'])

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
5   None      NaN      anonymous@gmail.com     None
6     NA  Missing                       NA  Missing

In [237]:
people_df = people_df.replace('NA', np.nan)
people_df = people_df.replace('Missing', np.nan)
people_df

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33.0
1   Jane      Doe        JaneDoe@email.com  55.0
2   John      Doe        JohnDoe@email.com  63.0
3  Chris  Schafer                     None  36.0
4    NaN      NaN                      NaN   NaN
5   None      NaN      anonymous@gmail.com   NaN
6    NaN      NaN                      NaN   NaN

In [238]:
people_df.isna()

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

In [239]:
# fill na values with other values
people_df.fillna('MISSING')

     first     last                    email      age
0    Corey  Schafer  CoreyMSchafer@gmail.com     33.0
1     Jane      Doe        JaneDoe@email.com     55.0
2     John      Doe        JohnDoe@email.com     63.0
3    Chris  Schafer                  MISSING     36.0
4  MISSING  MISSING                  MISSING  MISSING
5  MISSING  MISSING      anonymous@gmail.com  MISSING
6  MISSING  MISSING                  MISSING  MISSING

In [240]:
# see the datatypes in dataframe
people_df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [241]:
 people_df['age'] = people_df['age'].astype(float)

- **handling custom missing values while loading csv**

In [243]:
na_vals = ['NA', 'Missing']
d = pd.read_csv('pathtocsv', na_values=na_vals)

FileNotFoundError: [Errno 2] No such file or directory: 'pathtocsv'